
<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <titleNotice Board|Staff</title>
        <link rel='stylesheet' href='/css/bootstrap.css'>
      <link rel='stylesheet' href='/css/style.css'>
      <script type='text/javascript' src="/js/bootstrap.js"></script>
      
          </head>
    <body>

           <div class="container">

          <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link " href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/general">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/fellow">Fellow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/staff">Staff</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted logo">Andela Notice Board</h3>
      </div>
      <div class=" page-title">
    <h3>Welcome to Staff Notice Board</h3>
    </div>
<ul class="announcements">
      <% for(var i=0; i<announcements.length; i++) {%>
        <% if(announcements[i].dropdown === 'staff' &&(announcements[i].startdate>= new Date().toLocaleDateString()) ){%>
        <div class="announcements-group">
        <li class="message">
          <b>Announcer: </b><span><%= announcements[i].name %></span>          

        </li>

        <li class="message">
       
          <b>Title: </b<span><%= announcements[i].title %></span>


        </li>
         <li class="message">

          <b>Audience : </b><span><%= announcements[i].dropdown %></span>
 

        </li>
        <li class="message">
 
          <b>Message: </b><span><%= announcements[i].message %></span>

        </li>
        <li class="message">
          <b>Due Date: </b><span><%= announcements[i].startdate %></span>
        </li>

        <hr>
        </div>
        <% } %>
      <% } %>
    </ul>
    </div>
    </div>

</body>
</html>